.left-menu
  .left-menu__user
    .left-menu__user__name
      = current_user.name
    .left-menu__user__header
      =link_to new_group_path,class: 'user__header__create-chat', style: "color: white; text-decoration: none;" do
        %i.fa.fa-pencil-square-o.icon
      =link_to edit_user_path(current_user), class: 'user__header__user-setting', style: "color: white" do
        %i.fa.fa-cog.icon
  .left-menu__box
    - current_user.groups.each do |group|
      = render partial: "groups/each_group", locals: { group: group }

.chat
  .chat__team
    .chat__team__title
      = @group.group_name
    .chat__team__button-box
      =button_to 'Edit', edit_group_path(@group), class: 'edit-button',method: :get
    .chat__team__member
      - @users.each do |user|
        = user.name
      / chat__area~stringは後でレンダリングファイル化
  .chat__content
    - @messages.each do |message|
      = render partial: "each_messages", locals: {message: message}
.form
  = form_for [@group, @message] do |f|
    = f.text_field :body, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'
